In [38]:
#! /usr/bin/env python
# -*- coding: utf-8 -*-

from pyspark import SparkConf
from pyspark.context import SparkContext
from pyspark.sql import SQLContext, SparkSession
import pandas as pd

spark = SparkSession.builder.master('yarn').enableHiveSupport().getOrCreate()
sc = SparkContext.getOrCreate(SparkConf())

In [13]:
spark.sql("select 1").show()

+---+
|  1|
+---+
|  1|
+---+

In [8]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [14]:
spark.conf.set("spark.sql.session.timezone", "GMT")
spark.conf.set("spark.sql.execution.arrow", "GMT")

In [16]:
df = spark.sql("select 1")

In [24]:
spark.sql('create database if not exists my_schema')
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
|my_schema|
+---------+

In [20]:
df.write.mode('overwrite').format('parquet').saveAsTable('my_schema.spv_test')

In [27]:
spark.sql('select * from my_schema.spv_test').show()

+---+
|  1|
+---+
|  1|
+---+

In [28]:
df.createOrReplaceTempView("test_view")
spark.sql('select * from test_view').show()

+---+
|  1|
+---+
|  1|
+---+

In [32]:
#Insert
spark.sql("""insert into table my_schema.spv_test
select 2""")

DataFrame[]

In [34]:
spark.sql('select * from my_schema.spv_test').show()

+---+
|  1|
+---+
|  1|
|  2|
+---+

In [40]:
from pyspark.sql import Row
l = [('один',1),('два',2),('три',3),('X',0),]
rdd = sc.parallelize(l)
numbers = rdd.map(lambda x: Row(name=x[0], id=int(x[1])))
df_1 = sqlContext.createDataFrame(numbers)

In [42]:
df_1.show()

+----+---+
|name| id|
+----+---+
|один|  1|
| два|  2|
| три|  3|
|   X|  0|
+----+---+