In [3]:
#! /usr/bin/env python
# -*- coding: utf-8 -*-

from pyspark import SparkConf
from pyspark.context import SparkContext
from pyspark.sql import SQLContext, SparkSession
import pandas as pd


SparkContext.getOrCreate(SparkConf())
spark = SparkSession.builder.master('yarn').enableHiveSupport().getOrCreate()
sc = SparkContext.getOrCreate(SparkConf())
sqlContext = SQLContext(sc)

In [4]:
spark.sql("select 1").show()

+---+
|  1|
+---+
|  1|
+---+

In [5]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [6]:
spark.conf.set("spark.sql.session.timezone", "GMT")
spark.conf.set("spark.sql.execution.arrow", "GMT")

In [7]:
df = spark.sql("select 1")

In [8]:
spark.sql('create database if not exists my_schema')
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
|my_schema|
+---------+

In [9]:
# spark.sql('drop table if exists my_schema.spv_test purge') # !!!
df.write.mode('overwrite').format('parquet').saveAsTable('my_schema.spv_test')

In [10]:
spark.sql('select * from my_schema.spv_test').show()

+---+
|  1|
+---+
|  1|
+---+

In [11]:
df.createOrReplaceTempView("test_view")
spark.sql('select * from test_view').show()

+---+
|  1|
+---+
|  1|
+---+

In [12]:
#Insert
spark.sql("""insert into table my_schema.spv_test
select 2""")

DataFrame[]

In [13]:
spark.sql('select * from my_schema.spv_test').show()

+---+
|  1|
+---+
|  2|
|  1|
+---+

In [14]:
from pyspark.sql import Row
l = [('один',1),('два',2),('три',3),('X',0),]
rdd = sc.parallelize(l)
numbers = rdd.map(lambda x: Row(name=x[0], id=int(x[1])))
df_1 = sqlContext.createDataFrame(numbers)

In [15]:
df_1.show()

+----+---+
|name| id|
+----+---+
|один|  1|
| два|  2|
| три|  3|
|   X|  0|
+----+---+

In [14]:
spark.sql('drop table if exists my_schema.spv_test purge') # !!!

DataFrame[]

In [16]:
from pyspark.sql.functions import *
from pyspark.sql.window import Window
from pyspark.sql.types import *

In [17]:
rates = spark.table('my_schema.spv_test')

In [18]:
rates = rates\
    .select(
        trim(col)
    )

TypeError: Invalid argument, not a string or column: <function col at 0x000001F74A381A60> of type <class 'function'>. For column literals, use 'lit', 'array', 'struct' or 'create_map' function.

In [15]:
!whoami

pavel

In [16]:
type(df)

pyspark.sql.dataframe.DataFrame